@import url("https://fonts.googleapis.com/css2?family=League+Gothic&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+AU+VIC+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Satisfy&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

html {
  color-scheme: dark light;
}
img {
  width: 100px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

@mixin flexcontent($val) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $val;
}

@mixin robotoFont($fw, $fs) {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: $fw;
  font-size: $fs;
}

.portfolio,
.reviewSection,
.contactSection,
.footerSection {
  margin-top: 80px;
}

$bodyBgColor: #000;
$ftColor: #fff;
$hoverColor: #000;

body {
  background-color: $bodyBgColor;
  color: $ftColor;
}

.backBaseNav {
  height: 17vh;
  display: none;
}

.home,
.onSrcollCssHome {
  @include flexcontent(0);
  justify-content: space-evenly;
  padding: 25px;
  .openNavBar {
    display: none;
  }
  h1 {
    position: relative;
    @include robotoFont(500, none);
    img {
      position: absolute;
      width: 3rem;
      left: -49px;
      top: -29px;
    }
  }
  nav {
    .baseForNavClose {
      display: none;
    }
    ul {
      @include flexcontent(25px);
      li {
        a {
          @include robotoFont(300, 1.5em);
          color: $ftColor;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            width: 0%;
            bottom: 0px;
            left: 0px;
            height: 1px;
            background: $ftColor;
            transition: width 0.3s ease-in-out;
          }
          &:hover::after {
            width: 100%;
          }
        }
      }
    }
  }
}

.onSrcollCssHome {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background: $bodyBgColor;
  @include flexcontent(0);
  justify-content: space-evenly;
  padding: 6px 25px;
  z-index: 3;
  box-shadow: 0px 0px 7px 0px $ftColor;
  h1 {
    @include robotoFont(500, 1.3em);
    img {
      width: 2.5rem;
      left: -40px;
      top: -25px;
    }
  }
  nav {
    .baseForNavClose {
      display: none;
    }
    ul {
      @include flexcontent(25px);
      li {
        a {
          @include robotoFont(300, 1.2em);
        }
      }
    }
  }
}

@media screen and (max-width: 910px) {
  .backBaseNav {
    height: 14vh;
  }
  .home,
  .onSrcollCssHome {
    position: relative;
    justify-content: space-between;
    padding: 15px 55px;
    h1 {
      font-size: 1.2em;
    }
    .openNavBar {
      display: inline-block;
      position: absolute;
      top: 25px;
      right: 38px;
      font-size: 1.6em;
    }
    .navBar {
      top: 0px;
      left: -5580px;
      background-color: #000000cc;
      width: 100%;
      height: 100vh;
      position: fixed;
      transition: left 0.3s ease-in-out;
      overflow: hidden;
      z-index: 8;
      &.showNavbar {
        left: 0px;
      }
      .baseForNavClose {
        display: inline-block;
        position: absolute;
        top: 0px;
        right: -666px;
        padding: 50px;
        background-color: $ftColor;
        border-bottom-left-radius: 100%;
        transition: right 0.9s ease-in-out;
        &.navCloseAnimate {
          right: 0px;
          z-index: 1;
        }
        .navClose {
          font-size: 1.3em;
          color: $bodyBgColor;
        }
      }
      ul {
        top: 50%;
        left: 50%;
        position: absolute;
        width: 100%;
        height: 100%;
        @include flexcontent(15px);
        align-items: normal;
        padding: 55px 125px;
        flex-direction: column;
        transform: translate(-50%, -50%);
        li {
          a {
            font-size: 2em;
          }
        }
      }
    }
  }
  .onSrcollCssHome {
    position: fixed;
    width: 100%;
    background: $bodyBgColor;
    @include flexcontent(0);
    justify-content: space-between;
    padding: 7px 55px;
    .openNavBar {
      top: 20px;
      right: 35px;
      font-size: 1.6em;
    }
  }
}

@media screen and (max-width: 458px) {
  .home,
  .onSrcollCssHome {
    .navBar {
      ul {
        padding: 15px;
      }
    }
  }
}

/* Hero Section */

.sectionIntro {
  @include flexcontent(0);
  justify-content: space-evenly;
  flex-direction: row-reverse;
  padding: 5px 10px;
  .imgDiv {
    width: 320px;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .introSectionContents {
    font-size: 1.2em;
    @include flexcontent(15px);
    align-items: normal;
    flex-direction: column;
    strong {
      @include robotoFont(700, 1.5em);
    }
    p {
      @include robotoFont(500, 1.3em);
    }
    menu {
      @include flexcontent(10px);
      flex-direction: column;
      align-items: normal;
      li {
        @include robotoFont(300, none);
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .sectionIntro {
    flex-direction: column;
    .imgDiv {
      width: 80%;
    }
    .introSectionContents {
      margin: 55px 2px;
      padding: 25px 15px;
      strong {
        font-size: 1.1em;
      }
      p {
        font-size: 1em;
      }
    }
  }
}

/* About Me */
.aboutmeSection {
  padding: 55px 10px;
  position: relative;
  isolation: isolate;
  &::before {
    content: "";
    background: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: skewY(-5deg);
  }
  .subAboutSection {
    max-width: 50rem;
    margin-inline: auto;
    padding-inline: 1rem;
    @include flexcontent(5px);
    flex-direction: column;
    text-align: center;
    h2 {
      margin-bottom: 15px;
      @include robotoFont(400, none);
      border-bottom: 1px solid;
    }
    p {
      @include robotoFont(300, 1.3em);
    }
  }
}

/* Portfolio Section */

.portfolio {
  @include flexcontent(0);
  flex-direction: column;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  h2 {
    @include robotoFont(400, none);
    border-bottom: 1px solid;
  }
  .subPortfolio {
    .gallery {
      padding: 15px 20px;
      margin: 100px auto 50px;
      columns: 300px;
      .image {
        margin: 5px;
        overflow: hidden;
        cursor: pointer;
        img {
          width: 100%;
          border-radius: 5px;
          transition: transform 0.3s ease-in-out;
        }
        &:hover img {
          transform: scale(0.6) rotate(-15deg);
        }
      }
    }
  }
  .seeMorePortfolio {
    a {
      @include robotoFont(300, 1.3em);
      border: 1px solid;
      border-radius: 3px;
      padding: 3px 10px;
      position: relative;
      transition: color 0.3s ease;
      border-radius: 3px;
      color: $ftColor;
      &:hover {
        color: $hoverColor;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 0%;
        height: 100%;
        background-color: $ftColor;
        transition: width 0.4s ease;
        z-index: -1;
      }
      &:hover::before {
        width: 100%;
      }
    }
  }
}

.bgPorfolio {
  background: url("../assets/bgPortfolio.jpg");
  background-position-y: 85%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45vh;
  @include flexcontent(0);
}

@media screen and (max-width: 800px) {
  .portfolio {
    padding: 10px;
    .subPortfolio {
      .gallery {
        columns: 150px;
      }
    }
  }
}

@media screen and (max-width: 376px) {
  .portfolio {
    padding: 10px;
    .subPortfolio {
      .gallery {
        columns: 100px;
      }
    }
  }
}

/* Portfolio Preview Box */

.preview-box {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000000bc;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  color: #fff;
  z-index: 5;
  &.show {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.3s ease;
  }
  .subPreviewBox {
    position: relative;
    width: 95%;
    height: 95%;
    z-index: 5;
    padding: 0 5px 5px 5px;
    border-radius: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .details {
      display: flex;
      align-items: center;
      padding: 12px 15px 12px 10px;
      justify-content: space-between;
      @include robotoFont(300, 1.3em);
      margin-bottom: 5px;
      .title {
        display: flex;
        align-items: center;
      }
      i {
        cursor: pointer;
        transition: color 0.3s;
        &:hover {
          color: rgb(217, 30, 30);
        }
      }
    }
    .img-box {
      display: flex;
      width: 100%;
      height: 90%;
      .slide {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.3em;
        background-color: $ftColor;
        cursor: pointer;
        color: $bodyBgColor;
        width: 25px;
        line-height: 50px;
        text-align: center;
      }
      .prev {
        left: 0;
      }
      .next {
        right: 0;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

@media screen and (max-width: 785px) {
  .preview-box {
    .subPreviewBox {
      width: 100%;
      height: 100%;
      border: none;
      .details {
        background-color: transparent;
      }
      .img-box {
        width: 100%;
        height: 90%;
        .slide {
          top: 53%;
          font-size: 0.9em;
          line-height: 20px;
        }
      }
    }
  }
}

/* Review section */

.reviewSection {
  background: linear-gradient(45deg, #f9c74f, #f9844a, #90be6d);
  @include flexcontent(15px);
  padding-top: 55px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 65px;
  position: relative;
  .spanBefore,
  .spanAfter {
    content: "";
    position: absolute;
    width: 100%;
    height: 50px;
    background: $bodyBgColor;
    mask-size: 120px 10px;
    mask-repeat: repeat-x;
  }
  .spanBefore {
    mask-image: url("../assets/triangle.svg");
    top: 0;
  }
  .spanAfter {
    bottom: -40px;
    mask-image: url("../assets/triangleTurn.svg");
  }

  .reviewHere {
    position: relative;
    width: 50%;
    @include flexcontent(0);
    flex-direction: column;
    strong {
      @include robotoFont(400, 1.8em);
      border-bottom: 1px solid;
      margin-bottom: 15px;
    }
    .review {
      margin-top: 30px;
      @include flexcontent(0);
      flex-direction: column;
      border-radius: 15px;
      padding: 15px;
      padding-bottom: 68px;
      position: relative;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

      .peopleImg {
        width: 102px;
        height: 85px;
        border-radius: 100%;
        overflow: hidden;
        img {
          width: 100%;
          transform: translateY(15px);
          scale: 2;
          object-fit: cover;
        }
      }
      span {
        @include robotoFont(400, 1.2em);
        margin: 15px 0px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        text-decoration: underline;
      }
      p {
        @include robotoFont(300, 1.1em);
        text-align: center;
      }
    }
    .btns {
      position: absolute;
      top: 26px;
      right: 25px;
      border-bottom: none;
      button {
        background-color: #000;
        border-radius: 5px;
        outline: none;
        padding: 7px 10px;
        margin-top: 15px;
        cursor: pointer;
        border: none;
        font-family: sans-serif;
        box-shadow: 0px 0px 3px 1px #00000042;
        color: #fff;
        transition: box-shadow 0.3s ease;
        &:hover {
          box-shadow: 0px 0px 6px 0px #00000042;
          transform: scale(1.05);
        }
      }
    }
    .starsDate {
      position: absolute;
      bottom: 15px;
      width: 100%;
      @include flexcontent(5px);
      flex-direction: column;
      @include robotoFont(300, none);
      .star {
        color: orangered;
      }
    }
  }
}

@media screen and (max-width: 777px) {
  .reviewSection {
    flex-direction: column;
    min-height: 85vh;
    width: 100%;
    .reviewHere {
      width: 100%;
    }
  }
}
@media screen and (max-width: 480px) {
  .reviewSection {
    flex-direction: column;
    .reviewHere {
      width: 100%;
      .btns {
        top: 20px;
      }
      strong {
        font-size: 1.2em;
      }
    }
  }
}

/* Contact section */

.contactSection {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 40px;
  margin: none auto;
  .leave-message {
    width: 60%;

    h2 {
      @include robotoFont(300, 2em);
      margin-bottom: 20px;
      border-bottom: 3px solid;
      display: inline-block;
      padding-bottom: 5px;
    }

    p {
      @include robotoFont(300, none);
      margin-bottom: 20px;
    }

    form {
      display: flex;
      flex-direction: column;

      label {
        @include robotoFont(300, none);
        margin-bottom: 8px;
      }

      input,
      textarea,
      select {
        margin-bottom: 15px;
        padding: 10px;
        border: 1px solid;
        border-radius: 5px;
        font-size: 1rem;
        &::placeholder {
          @include robotoFont(300, none);
        }
      }
      #phone[type="number"]::-webkit-inner-spin-button,
      #phone[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      select {
        cursor: pointer;
      }

      textarea {
        resize: none;
        height: 120px;
      }

      .emailWhatsappBtn {
        @include flexcontent(15px);
        button,
        .whatsapBtn {
          padding: 12px;
          border: none;

          color: white;
          font-size: 1.2rem;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s ease;
          text-align: center;
          width: 50%;
        }
        button {
          color: $ftColor;
          background: none;
          @include robotoFont(300, 1.3em);
          border: 1px solid;
          position: relative;
          border-radius: 3px;
          color: $ftColor;
          transition: color 0.3s ease;
          &:hover {
            color: $hoverColor;
          }
          &::before {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            width: 0%;
            height: 100%;
            background-color: $ftColor;
            transition: width 0.4s ease;
            z-index: -1;
          }
          &:hover::before {
            width: 100%;
          }
          /*  */
        }
        .whatsapBtn {
          color: $ftColor;
          background: none;
          @include robotoFont(300, 1.3em);
          border: 1px solid;
          position: relative;
          border-radius: 3px;
          color: $ftColor;
          transition: color 0.3s ease;
          &:hover {
            color: $hoverColor;
          }
          &::before {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            width: 0%;
            height: 100%;
            background-color: #25d366;
            transition: width 0.4s ease;
            z-index: -1;
          }
          &:hover::before {
            width: 100%;
          }
          /*  */
        }
      }
      .alertbelowBtn {
        color: red;
        font-weight: bold;
        font-family: sans-serif;
        margin-top: 10px;
        text-align: center;
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .contactSection {
    flex-direction: column;
    padding: 12px;
    .leave-message {
      width: 100%;
      form {
        .emailWhatsappBtn {
          flex-direction: column;
          button,
          .whatsapBtn {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 517px) {
  .contactSection {
    .leave-message {
      .emailWhatsappBtn {
        button,
        .whatsapBtn {
          font-size: 0.9em;
        }
      }
    }
  }
}

/* Footer Section */

.footerSection {
  padding: 5px 15px 55px 15px;
  p {
    @include robotoFont(500, 1.4em);
    padding: 5px 10px;
    text-align: center;
    margin-bottom: 35px;
  }
  .sciolLinkCopyRight {
    padding: 5px 10px;
    @include flexcontent(25px);
    justify-content: space-evenly;
    flex-wrap: wrap;
    .copyRight {
      @include robotoFont(500, 1.3em);
      text-align: center;
    }
    menu {
      a {
        margin: 2px 10px;
        padding: 5px;
        border-radius: 100%;
        i {
          color: $ftColor;
          font-size: 1.3em;
          transition: color 0.3s ease-in-out;
        }
      }
      .fbookA {
        &:hover .fbook {
          color: #0a65fe;
        }
      }
      .twitterA {
        &:hover .twitter {
          color: #1da1f3;
        }
      }
      .instagramA {
        &:hover .instagram {
          color: #ff00d3;
        }
      }
      .wsappA {
        &:hover .wsapp {
          color: #32b71a;
        }
      }
    }
  }
}

.bottomWhatsapp,
.bottomCallUs,
.GoUp {
  font-size: 1.4em;
  color: $ftColor;
  position: fixed;
  bottom: 15px;
  right: 4px;
  border: 1px solid;
  border-radius: 100%;
  padding: 6px 10px;
  box-shadow: 1px 1px 8px gray;
}

.GoUp {
  position: fixed;
  /* height: 45px;
  width: 45px; */
  display: grid;
  place-items: center;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  bottom: 100px;
  color: #000;
  padding: 8px 12px;
  right: 4px;
  display: none;
  /* i {
    display: block;
    height: calc(100% - 8px);
    width: calc(100% - 8px);
    background-color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: #001a2e;
  } */
}
.bottomWhatsapp {
  bottom: 53px;
  font-size: 1.6em;
  background-color: green;
}
.bottomCallUs {
  bottom: 8px;
  padding: 6px 8px;
  background-color: lightskyblue;
}
